[package]
name = "luciuz-config"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde = { version = "1", features = ["derive"] }
toml = "0.8"
luciuz-core = { path = "../luciuz-core" }
